<div class="row" style="margin-top: 100px">
        <form>
            <div class="row">
            <input type="text" name="lemma" class="col-md-8" style="margin-right: 10px;">
            </div>
            <div class="row" style="margin-top: 30px">
                <button name="direction" value="1-2" class="col-md-1" type="submit" style="background-color: #EF0101;">EN-RU</button>
                <button name="direction" value="2-1" class="col-md-1" type="submit" style="background-color: #EF0101;">RU-EN</button>
                <div class="col-md-1">&nbsp;</div>
                <button name="direction" value="3-2" class="col-md-1" type="submit" style="background-color: #FEA101;">UK-RU</button>
                <button name="direction" value="2-3" class="col-md-1" type="submit" style="background-color: #FEA101;">RU-UK</button>
                <div class="col-md-1">&nbsp;</div>
                <button name="direction" value="4-2" class="col-md-1" type="submit" style="background-color: #0FB909;">BG-RU</button>
                <button name="direction" value="2-4" class="col-md-1" type="submit" style="background-color: #0FB909;">RU-BG</button>
            </div>
        </form>
</div>